---
layout: default
title: Blog
paginate: true
paginate_path: "/page:num/"
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post-item">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: "%b %d, %Y" }}</p>
      {{ post.content | strip_html | truncatewords: 20 }}
      <a href="{{ post.url | relative_url }}">Read More</a>
    </div><br>
    {% unless forloop.last %}
      <hr>
    {% endunless %}
      <br>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}

  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>