<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="mobile-nav-container">
      <button class="menu-toggle" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <nav class="site-nav nav-links">
        <a class="page-link" href="{{ "/about/" | relative_url }}">Tentang Saya</a> {# Tautan ke Halaman Tentang Saya #}
        <a class="page-link" href="{{ "/contact/" | relative_url }}">Kontak</a> {# Tautan ke Halaman Kontak (jika ada) #}
        </nav>
      <div class="mobile-nav-overlay"></div>
    </div>
  </div>
</header>